*{
    box-sizing: border-box;
    padding: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 25px; */
	display: flex;
	justify-content: center;
}

.container {
    background-color: #252945;
    height: 700px;
    width: 355px;
    padding: 18px;
    color: white;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1px;
}

.formTask {
	display: none;
}
.button {
	position: relative;
	top: 13px;
}
.button button {
	height: 2rem;
	width: 6rem;
	border-style: none;
	border-radius: 1rem;
	background-color: #9370DB;
}
.btn-submit {
	display: flex;
	justify-content: center;
}
.input{
	padding: 10px;
}

.input label {
	display: block;
	padding: 5px;
}
.input input {
	width: 95%;
	height: 1.5rem;
	border-radius: 5px;
	border: none;
}
textarea {
	width: 95%;
	height: 3rem;
	border-radius: 5px;
	border: none;
}
.list {
	background-color: rgb(67, 52, 89);
	border-radius: 5px;
}

.status {
	color: #9370DB;
}

.tasks {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	padding: 5px;
}

.subList{
	padding: 5px;
}
.subList label {
	padding: 1px;
	margin: 5px;
}
.subList p {
	padding: 1px;
	margin: 5px;
}

.subList button {
	border: none;
	display: flex;
	color: rgb(173, 17, 17);
	background-color: rgb(67, 52, 89);
	padding: 3px;
	float: right;
	position: relative;
	top: -20px;
}


